
table {
  border-collapse: collapse;
}

.Table1_1_x {
}

.Table1_2_x {
}

.Table1_3_x {
}

.Table1_4_x {
}

.Table1_5_x {
}

.Table1_x_1 {
}

.Table1_x_2 {
}

.Table1_x_3 {
}

.Table1_1_1 {
  border-right-style: solid;
  border-top-style: solid;
  text-align: center;
  vertical-align: bottom;
}

.Table1_1_1_span {
}

.Table1_1_2 {
  border-top-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.Table1_1_2_span {
}

.Table1_1_3 {
  border-top-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.Table1_1_3_span {
}

.Table1_2_1 {
  border-right-style: solid;
  border-top-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.Table1_2_1_span {
}

.Table1_2_2 {
  padding-left: 10pt;
  border-top-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.Table1_2_2_span {
}

.Table1_2_3 {
  padding-left: 10pt;
  border-top-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.Table1_2_3_span {
}

.Table1_3_1 {
  border-right-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.Table1_3_1_span {
}

.Table1_3_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.Table1_3_2_span {
}

.Table1_3_3 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.Table1_3_3_span {
}

.Table1_4_1 {
  border-right-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.Table1_4_1_span {
}

.Table1_4_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.Table1_4_2_span {
}

.Table1_4_3 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.Table1_4_3_span {
}

.Table1_5_1 {
  border-right-style: solid;
  border-bottom-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.Table1_5_1_span {
}

.Table1_5_2 {
  padding-left: 10pt;
  border-bottom-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.Table1_5_2_span {
}

.Table1_5_3 {
  padding-left: 10pt;
  border-bottom-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.Table1_5_3_span {
}

